<app-navbar></app-navbar>
<main class="container-fluid">
    <mat-card>
        <mat-card-content>
            <h1>Login</h1>
            <p>
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="correo@dominio.com" [(ngModel)]="emailForm" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="passwordForm" required>
                    <button id="iconPassword" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>
            <button mat-raised-button (click)="loginUser()">Iniciar Sesion</button>
        </mat-card-content>
    </mat-card>

    <div>
        <h3>Cuenta N1: ni.caviedes@duocuc.cl | contraseña: hola123 (Tiene asociado un comercio)</h3>
        <h3>Cuenta N2: dav.rubio@duocuc.cl | contraseña: hola123 (Tiene asociado un comercio)</h3>
        <h3>Cuenta N3: s.plazae@duocuc.cl | contraseña: hola123 (Rol de usuario publico)</h3>
        <h3>Cuenta N4: jo.escobar@duocuc.cl | contraseña: hola123 (Rol de usuario publico)</h3>
    </div>
</main>