<app-navbar></app-navbar>
<main>
    <h1>Inventario</h1>
    <table [dataSource]="listProducts" mat-table class="mat-elevation-z8">
        <ng-container matColumnDef="ID Producto">
            <th mat-header-cell *matHeaderCellDef> ID Producto </th>
            <td mat-cell *matCellDef="let element">{{ element.idProducto }}</td>
        </ng-container>
        <ng-container matColumnDef="Nombre Producto">
            <th mat-header-cell *matHeaderCellDef> Nombre Producto </th>
            <td mat-cell *matCellDef="let element">{{ element.nombreProducto }}</td>
        </ng-container>
        <ng-container matColumnDef="Nombre Proveedor">
            <th mat-header-cell *matHeaderCellDef> Nombre Proveedor </th>
            <td mat-cell *matCellDef="let element">{{ element.nombreProveedor }}</td>
        </ng-container>
        <ng-container matColumnDef="Codigo Barra">
            <th mat-header-cell *matHeaderCellDef> Codigo Barra </th>
            <td mat-cell *matCellDef="let element">{{ element.codigoBarra }}</td>
        </ng-container>
        <ng-container matColumnDef="Tipo Producto">
            <th mat-header-cell *matHeaderCellDef> Tipo Producto </th>
            <td mat-cell *matCellDef="let element">{{ element.tipoProducto }}</td>
        </ng-container>
        <ng-container matColumnDef="Peso Neto">
            <th mat-header-cell *matHeaderCellDef> Peso Neto </th>
            <td mat-cell *matCellDef="let element">{{ element.pesoNeto }}</td>
        </ng-container>
        <ng-container matColumnDef="Cantidad">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element">{{ element.idProducto }}</td>
        </ng-container>
        <ng-container matColumnDef="Precio Unitario">
            <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
            <td mat-cell *matCellDef="let element">{{ element.idProducto }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</main>
<br>
<app-footer></app-footer>
<mat-spinner class="position-absolute top-50 start-50 translate-middle" *ngIf="isQueueActive()"></mat-spinner>
